/* custom-medieval.css */

html {
    height: 100%;
  }
  
body {
background: #000;
font-family: 'Cinzel Decorative', serif;
display: flex;
flex-direction: column;
min-height: 100vh; /* Utilisez viewport height pour garantir que le body prenne au moins toute la hauteur de l'écran */
margin: 0; /* Retire les marges par défaut */
}
/* custom.css */

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}


#map-image {
    max-width: 100%;
    height: auto;
}

.form-container {
    width: 100%;
    max-width: 400px; /* ou la largeur que vous préférez pour le formulaire */
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
}

.form-group input[type="number"],
.form-group input[type="submit"] {
    width: 100%;
}

#map-container {
    width: 1420px;
    /* Largeur de la carte */
    height: 800px;
    /* Hauteur de la carte */
    border: 1px solid #000;
    /* Bordure de la carte */
    position: relative;
    /* Position relative pour positionner l'image absolument */
    overflow: hidden;
    /* Masquer tout contenu dépassant du conteneur */
}

#map-image {
    position: absolute;
    /* Position absolue pour que l'image remplisse le conteneur */
    width: auto;
    /* Largeur automatique pour conserver les proportions */
    height: 100%;
    /* Hauteur de l'image à 100% du conteneur */
    top: 0;
    /* Aligner en haut du conteneur */
    left: 0;
    /* Aligner à gauche du conteneur */
}

  .site-content {
    flex: 1; /* Le contenu du site utilise tout l'espace disponible, poussant le footer vers le bas */
  }
  
  .medieval-footer {
    color: #f8e7d2; /* Couleur du texte */
    padding:1%;
  }
  
.row-rules {
    margin-right: 0; /* Assurez-vous qu'il n'y a pas de marge sur la droite */
    margin-left: auto; /* Alignez le bloc à droite */
    min-height: 630px;
    padding: 20px; /* Ajoutez plus de padding pour mieux centrer le texte */
    position: relative;
    width: auto; /* Une largeur automatique pour s'adapter au contenu */
    max-width: 2000px; /* Une largeur maximale au cas où */
    border: 1px solid #543422; /* Stroke */
    background: #29221c;
    background-clip: padding-box; /* Empêche la couleur de fond de déborder */
    box-shadow: inset 0 0 9px 0 rgba(0, 0, 0, 0.35); /* Ombre intérieure */
    color: #f8e7d2; /* Couleur de texte pour une meilleure visibilité */
    font-size: 1.2em; /* Taille de texte plus grande */
    text-align: center; /* Texte centré */
}

.rules-text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 92%;
    margin:2px;
}
.container-rules {
    width: 65%;
    position: relative;
    margin: 0 auto; /* Centrage horizontal */
    text-align: center; /* Texte centré à l'intérieur du conteneur */
}

.title-rules {
    font-size: 120%;
    padding:1%;
    color: #f0c964;
}

.logo-text {
    font-size: 20px; /* Taille du texte */
    margin-left: 10px; 
    color: #c4ae78;

}

.gallery-2 {
    color: #F5F5DC;
}

#message-body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #0a1318;
    /* Couleur de fond pour le corps */
}

#message-container {
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
    /* Espacement par rapport au haut de la page */
}

#message-container div {
    background-color: #222e35;
    color: white;
    /* Couleur de fond pour les messages */
    padding: 10px;
    margin-bottom: 10px;
    /* Espacement entre les messages */
    border-radius: 15px;
    /* Bords arrondis */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Ombre pour un effet de profondeur */
}

#message-container div:nth-child(2n) {
    background-color: #054740;
    color: white;
    /* Couleur de fond alternative pour les messages */
}

#send-container {
    position: fixed;
    padding: 15px;
    bottom: 0;
    background-color: #1c282f;
    /* Couleur de fond pour la zone d'envoi de message */
    max-width: 1200px;
    width: 80%;
    display: flex;
    border-top-left-radius: 20px;
    /* Bords arrondis en haut à gauche */
    border-top-right-radius: 20px;
    /* Bords arrondis en haut à droite */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    /* Ombre pour un effet de profondeur */
}

#message-input {
    flex-grow: 1;
    padding: 10px;
    background-color: #101d24;
    color: white;
    border: none;
    border-bottom-left-radius: 10px;
    /* Bords arrondis en bas à gauche */
    outline: none;
    /* Suppression de la bordure de focus */
}

#send-button {
    padding: 10px 20px;
    background-color: #17ba86;
    /* Couleur de fond pour le bouton d'envoi */
    color: white;
    border: none;
    border-radius: 10px;
    /* Bords arrondis en bas à droite */
    cursor: pointer;
    transition: background-color 0.3s;
    /* Transition fluide pour l'effet de survol */
}

#send-button:hover {
    background-color: #07e759;
    /* Couleur de fond au survol */
}


header.text-center {
    margin: 50px 0;
    color: #fff;
}

.scoreboard {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
}

.scoreboard h2 {
    color: #ff0;
    /* Gold color for headers */
    font-size: 2em;
}

.table-bordered {
    border: 2px solid #955;
    /* A color that matches the theme */
}

.table-dark {
    color: #ddd;
    /* Light text for readability */
}

.table-dark thead th {
    background-color: #111;
    /* Dark background for the header */
}

.table-dark tbody td {
    background-color: #222;
    /* Slightly lighter background for rows */
}

.table-hover tbody tr:hover {
    background-color: #333;
    /* Highlight for hover effect */
}

/* custom.css */

.navbar-custom {
    background-color: #000;
    /* Use the same color as your header background */
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand-custom {
    display: flex;
    align-items: center;
}

.navbar-brand-custom img {
    height: 50px;
    /* Adjust the size to fit your logo */
}

.navbar-nav-custom {
    list-style: none;
    display: flex;
    gap: 20px;
    /* Adjust the space between the items */
    margin: 0;
    padding: 0;
}

.navbar-nav-custom li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.navbar-nav-custom li a:hover,
.navbar-nav-custom li a:active {
    color: #aaa;
    /* Set hover color */
    border-bottom: 1px solid #fff;
    /* Optional: Adds an underline effect on hover */
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar-nav-custom {
        flex-direction: column;
    }
}