.like-b>i {
    cursor: pointer;
    padding: 10px 12px 8px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 15px;
    color: #aaa;
    transition: .2s;
}

.like-b>i:hover {
    color: #666;
}

.like-b>span {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    visibility: hidden;
    transition: .6s;
    z-index: 2;
    font-size: 2px;
    color: transparent;
    font-weight: 400;
}

.like-b>i.press {
    animation: size .4s;
    color: #e23b3b;
}

.like-b>span.press {
    bottom: 120px;
    font-size: 14px;
    visibility: visible;
    animation: fade 1s;
}

@keyframes fade {
    0% {
        color: rgba(0, 0, 0, 1);
    }

    50% {
        color: #e23b3b;
    }

    100% {
        color: rgba(0, 0, 0, 1);
    }
}

@keyframes size {
    0% {
        padding: 10px 12px 8px;
    }

    50% {
        padding: 14px 16px 12px;
        margin-top: -4px;
    }

    100% {
        padding: 10px 12px 8px;
    }
}